hr
{
  color:sienna;
}

h1
{
  text-align:center;
  #text-shadow: 2px 0px #888888;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:2.5em;
  position:relative;
}

body 
{
  background-image:url('img/background-fade.jpg');
  background-repeat:no-repeat;
  background-position:left top;
}

.banner
{
  padding:100px;
}

.btn-list-item
{
    text-align:left;
}

.content
{
  padding:10px;
  text-align:center;
  margin:10px
}

.heading
{
    text-align:center;
    position:relative;
    font-family:"Lucida Console", Monaco, monospace;
    color:#6699FF;
}

.my-dropdown
{
    margin:0 auto;
    position: relative;
    text-align: center;
}

.my-dropdown-list
{
    width: 100%;
    margin: auto;
}

.topic
{
  text-align:center;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:1em;
  margin: 0 auto;
}

#main 
{
  text-align:center;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:1em;
  position:relative;
}

#link
{
  font-family:"Lucida Console", Monaco, monospace;
  font-size:1.25em;
  position:relative;
}

#answer
{
    display:inline-block;
    width: 90%;
}

.open 
{
    margin:0 auto;
    position: relative;
    text-align: center;
}

